<div class="card" data-sly-use.predefined="predefined.js">
    <div class="card-content content">
        <h3>${predefined.title}</h3>
        <p>${predefined.description}</p>
        <a class="button is-primary" href="#">Learn more</a>
    </div>
</div>
