<template data-sly-template.footer="${ @ page}">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
         data-sly-test.clientlibCategoriesJsBody="${page.clientLibCategoriesJsBody}"
         data-sly-call="${clientlib.js @ categories=clientlibCategoriesJsBody}"></sly>
    <sly data-sly-include="customfooterlibs.html"></sly>
    <sly data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}"></sly>
    <sly data-sly-test="${page.hasCloudconfigSupport}"
         data-sly-resource="${'cloudconfig-footer' @ resourceType='cq/cloudconfig/components/scripttags/footer'}"></sly>

    <div class="section is-small has-background-light" data-sly-use.predefined="predefined.js">
        <div class="content">
            <p>Copyright &copy; ${ 'yyyy' @format=predefined.dateNow, timezone='CST'}
                <span class="is-hidden-tablet"><br></span> All rights reserved.<br>
            </p>
        </div>
    </div>
</template>



