<!--/*
    Custom footer
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
*/-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='mysamplespa.base'}"/>
</sly>
<sly data-sly-test="${wcmmode.edit || wcmmode.preview}" data-sly-call="${clientLib.js @ categories='cq.authoring.pagemodel.messaging'}"></sly>
<sly data-sly-call="${clientLib.js @ categories='mysamplespa-react'}"></sly>